!/dist/.gitkeep
!/tests/Integration/var/.gitkeep
/.idea
/.php-cs-fixer.cache
/.php_cs.cache
/.phpunit.result.cache
/composer.lock
/dist/
/phpunit.xml
/tests/Integration/output
/tests/Integration/App/var/
/vendor-bin/*/vendor/
/vendor/
