parameters:
    level: 9
    paths:
        - bin/set-composer-conflicts.php
        - src
    ignoreErrors:
        - path: src/ErrorHandler/ResetContainerErrorHandler.php
          message: '#Property .*ResetContainerErrorHandler::\$container.*does not accept.*ContainerInterface\|null\.#'

        - path: src/CpuCoreCounter.php
          message: '#getNumberOfCpuCores\(\) should return#'
