parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - tests/Integration/var
    ignoreErrors:
        - path: tests/Integration/TestLogger.php
          message: '#TestLogger::\$outputHandler#'

        - path: src/ContainerAwareCommand.php
          message: '#Application::getKernel#'

        - path: tests/Integration/ParallelizationIntegrationTest.php
          message: '#ParallelizationIntegrationTest::\$importMoviesCommand#'
        - path: tests/Integration/ParallelizationIntegrationTest.php
          message: '#ParallelizationIntegrationTest::\$noSubProcessCommand#'

        - path: tests/ChunkedItemsIteratorTest.php
          message: '#Parameter \#2 \$fetchItems of static method .+ChunkedItemsIterator::fromItemOrCallable\(\) expects callable\(\)#'

        - '#unknown class Symfony\\Component\\DependencyInjection\\ResettableContainerInterface#'
