parameters:
    level: 5
    paths:
        - bin/set-composer-conflicts.php
        - tests
    excludePaths:
        - tests/Integration/var
        - tests/Input/FakeInput.php
        - tests/Input/FakeInput74.php
        - tests/Input/FakeInput81.php
        - tests/Process/DummyProcess.php
        - tests/Process/DummyProcess74.php
        - tests/Process/DummyProcess81.php
    ignoreErrors:
        - path: tests/Integration/TestLogger.php
          message: '#TestLogger::\$outputHandler#'

        - path: tests/Integration/ParallelizationIntegrationTest.php
          message: '#ParallelizationIntegrationTest::\$importMoviesCommand#'
        - path: tests/Integration/ParallelizationIntegrationTest.php
          message: '#ParallelizationIntegrationTest::\$importUnknownMoviesCountCommand#'
        - path: tests/Integration/ParallelizationIntegrationTest.php
          message: '#ParallelizationIntegrationTest::\$noSubProcessCommand#'
        - path: tests/Integration/ParallelizationIntegrationTest.php
          message: '#ParallelizationIntegrationTest::\$legacyCommand#'

        - path: tests/ChunkedItemsIteratorTest.php
          message: '#Parameter \#2 \$fetchItems of static method .+ChunkedItemsIterator::fromItemOrCallable\(\) expects callable\(\)#'
        - path: tests/ChunkedItemsIteratorTest.php
          message: '#assertTrue\(\) with false will always evaluate to false\.#'

        - path: tests/Input/ParallelizationInputTest.php
          message: '#assertTrue\(\) with false will always evaluate to false\.#'

        - path: tests/ParallelExecutorFactoryTest.php
          message: '#ParallelExecutorFactory::create\(\) expects callable#'

        - path: tests/Fixtures/Command/LegacyCommand.php
          message: '#Static method .* is unused#'
