parameters:
    level: 7
    paths:
        - bin/set-composer-conflicts.php
        - src
    ignoreErrors:
        - path: src/ErrorHandler/ResetContainerErrorHandler.php
          message: '#Property .*ResetContainerErrorHandler::\$container.*does not accept.*ContainerInterface\|null\.#'
