parameters:
    level: 5
    paths:
        - bin/set-composer-conflicts.php
        - tests
    excludePaths:
        - tests/Integration/var
        - tests/Input/FakeInput.php
        - tests/Input/FakeInput74.php
        - tests/Input/FakeInput81.php
        - tests/Process/DummyProcess.php
        - tests/Process/DummyProcess74.php
        - tests/Process/DummyProcess81.php
    ignoreErrors:
        - path: tests/Integration/TestLogger.php
          message: '#TestLogger::\$outputHandler#'

        - path: tests/Integration/ParallelizationIntegrationTest.php
          message: '#ParallelizationIntegrationTest::\$importMoviesCommand#'
        - path: tests/Integration/ParallelizationIntegrationTest.php
          message: '#ParallelizationIntegrationTest::\$noSubProcessCommand#'

        - path: tests/ChunkedItemsIteratorTest.php
          message: '#Parameter \#2 \$fetchItems of static method .+ChunkedItemsIterator::fromItemOrCallable\(\) expects callable\(\)#'

        - path: src/ErrorHandler/ResetContainerErrorHandler.php
          message: '#Property .*ResetContainerErrorHandler::\$container.*does not accept.*ContainerInterface\|null\.#'

        - path: tests/Process/DummyProcessFactory.php
          message: '#DummyProcess#'

        - path: tests/Process/SymfonyProcessLauncherTest.php
          message: '#DummyProcess#'

        - path: tests/Input/RawOptionsInputTest.php
          message: '#FakeInput#'

        - path: tests/ParallelExecutorFactoryTest.php
          message: '#ParallelExecutorFactory::create\(\) expects callable#'
