<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         cacheDirectory="dist/phpunit-cache"
         bootstrap="tests/bootstrap.php"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         colors="true"
         executionOrder="random">

    <php>
        <env name="WEBMOZARTS_CONSOLE_PARALLELIZATION_CPU_COUNT" value="2"/>
    </php>

    <extensions>
        <bootstrap class="Webmozarts\Console\Parallelization\PHPUnit\PHPUnitExtension"/>
        <bootstrap class="Webmozarts\StrictPHPUnit\StrictPHPUnitExtension"/>
    </extensions>

    <testsuites>
        <testsuite name="Tests">
            <directory>tests/</directory>
            <exclude>tests/AutoReview</exclude>
        </testsuite>

        <testsuite name="AutoReview">
            <directory>tests/AutoReview</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <file>src/CpuCoreCounter.php</file>
            <file>src/Deprecation.php</file>
            <file>src/ErrorHandler/NullErrorHandler.php</file>
            <file>src/Logger/MemorySizeFormatter.php</file>
            <file>src/Logger/NullLogger.php</file>
            <file>src/Logger/DebugProgressBarFactory.php</file>
            <file>src/ParallelCommand.php</file>
            <file>src/Parallelization.php</file>
            <file>src/Process/PhpExecutableFinder.php</file>
            <file>src/Process/SymfonyProcessLauncherFactory.php</file>
        </exclude>
    </source>

</phpunit>
